code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.layout {
    background-color: red;
    height: 100%;
    text-align: center;
}

.layout_input {
    border-bottom: 1px solid #000 !important;
    border-radius: 0;
    width: 80%;
}

.ant-progress-bg {
    height: 20px !important;
    background-color: #52c41a !important;
    opacity: .3;
}
h2{
    line-height: 30px;
}
h3 {
    font-size: 18px;
    margin: 5px 0;
}

h4 {
    font-size: 18px;
    width: 150px;
    line-height: 30px;
    text-align: right;
    margin: 5px 0;
}
.ant-card{
    border-radius: 0 !important;
    margin-bottom: 12px;
}
.cpu_{
    display: flex;
    justify-content: space-between;
}

.information{
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 14px 24px;
    margin-bottom: 16px;
    .information_title{
        height: 24px;
        font-family: PingFangSC-Medium;
        font-weight: 600;
        font-size: 16px;
        color: #363740;
        line-height: 24px;
    }
    .information_search{
        margin-bottom: 16px;
    }
    .node_status{
        height: 24px;
        font-family: PingFangSC-Medium;
        font-weight: 600;
        font-size: 16px;
        color: #363740;
        line-height: 24px;
        display: inline-block;
        margin-right: 16px;
    }
}
.search{
    margin-bottom: 8px;
}